@import 'https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Indie+Flower&family=Jersey+10&family=Sniglet:wght@400;800&family=VT323&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "VT323", monospace;
  width: 100vw;
}
body .imagenFondo {
  width: 100vw;
  opacity: 0.5;
  position: fixed;
  z-index: -1;
}
body .pantallaPrincipal {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body .pantallaPrincipal .titulo {
  margin: 30px;
}
body .pantallaPrincipal .titulo img {
  width: 50vw;
}
body .pantallaPrincipal #start {
  width: 180px;
  height: 40px;
  background: 0 0;
  background-color: rgba(29, 115, 201, 0.4666666667);
  border: 3px solid #1e4e7f;
  border-radius: 7px;
  font-family: "VT323", monospace;
  color: #000;
  font-size: 19px;
  font-weight: 600;
}
body .pantallaPrincipal #start:hover {
  cursor: pointer;
  background-color: #7cafe2;
  transition: 0.2s;
  color: #ffcc03;
}
body .seleccionarPersonajes {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
body .seleccionarPersonajes h2 {
  margin: 20px;
}
body .seleccionarPersonajes .tarjetas {
  margin: 20px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
body .seleccionarPersonajes .tarjetas input {
  display: none;
}
body .seleccionarPersonajes .tarjetas label {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 10px 30px;
  background-color: rgba(84, 159, 213, 0.568627451);
  width: 25vw;
  border: 2px solid #1e4e7f;
  box-shadow: 3px 4px 7px 0px #656a6f;
  min-width: 245px;
  flex-direction: column;
  align-content: center;
  border-radius: 2px 20px 2px 20px;
}
body .seleccionarPersonajes .tarjetas label p {
  font-family: "VT323", monospace;
  font-size: 25px;
  font-weight: 600;
}
body .seleccionarPersonajes .tarjetas label:hover {
  cursor: pointer;
  background-color: rgba(33, 144, 223, 0.8196078431);
  transform: translateY(-7px);
  transition: 0.3s;
}
body .seleccionarPersonajes .tarjetas input:checked + label {
  background-color: rgba(33, 144, 223, 0.8196078431);
  transform: translateY(-7px);
}
body .seleccionarPersonajes .tarjetas img {
  width: 200px;
}
body .seleccionarPersonajes .botonPersonajes {
  width: 180px;
  height: 40px;
  background: 0 0;
  background-color: rgba(29, 115, 201, 0.4666666667);
  border: 3px solid #1e4e7f;
  border-radius: 7px;
  font-family: "VT323", monospace;
  color: #000;
  font-size: 19px;
  font-weight: 600;
}
body .seleccionarPersonajes .botonPersonajes:hover {
  cursor: pointer;
  background-color: #7cafe2;
  transition: 0.2s;
  color: #ffcc03;
}
body #seleccionarAtaque {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
body #seleccionarAtaque .indicadorJugador {
  display: flex;
  height: 70px;
  width: 95vw;
  background-color: #1d73c9;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  border: 3px solid #1e4e7f;
  border-radius: 7px;
  color: #fff;
  font-size: 25px;
}
body #seleccionarAtaque .indicadorJugador .pokebola {
  width: 50px;
}
body #seleccionarAtaque .containerArgenmonInfo {
  display: flex;
  justify-content: space-between;
  width: 70vw;
}
body #seleccionarAtaque .containerArgenmonInfo .argenmonInfo {
  width: 197px;
  display: flex;
}
body #seleccionarAtaque .containerArgenmonInfo .argenmonInfo .argenmonElegido {
  border: 3px solid #1e4e7f;
  background-color: rgba(29, 115, 201, 0.4666666667);
  font-family: "VT323", monospace;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  width: 200px;
  height: 80px;
  padding: 8px;
}
body #seleccionarAtaque .containerArgenmonInfo #tirarDado {
  padding: 5px;
  margin-bottom: 6px;
  border-radius: 5px;
  font-family: "VT323", monospace;
  font-size: 19px;
}
body #seleccionarAtaque .containerArgenmonInfo #tirarDado:hover {
  cursor: pointer;
}
body #seleccionarAtaque .containerArgenmonInfo #tirarDado:active {
  color: #ffcc03;
  transform: translate(1px, 1px);
}
body #seleccionarAtaque .containerArgenmonInfo #resultadoDado {
  font-size: 27px;
  font-family: "poppins", sans-serif;
  border: solid 3px black;
  font-weight: bold;
  height: 55px;
  width: 55px;
  margin: auto;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #seleccionarAtaque #resultado {
  background-color: #fff;
  border-radius: 7px;
  border-top: 3px solid grey;
  border-left: 3px solid grey;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  width: 70vw;
  height: 55px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 14.5px;
}
body #seleccionarAtaque .pelea {
  margin-top: 15px;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body #seleccionarAtaque .pelea .botonesPelea {
  width: 140px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  align-self: flex-start;
}
body #seleccionarAtaque .pelea .botonesPelea .btnAtaque {
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-family: "VT323", monospace;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 200ms;
}
body #seleccionarAtaque .pelea .botonesPelea .btnAtaque:hover {
  transform: translate(3px, -3px);
}
body #seleccionarAtaque .pelea .campo {
  margin: 0 20px;
}
body #seleccionarAtaque .pelea .campo #vs {
  width: 90px;
  margin-bottom: 20px;
}
body #seleccionarAtaque .pelea .campo .imgArgen {
  margin: 0 20px;
}
body #seleccionarAtaque .pelea .campo #imgArgen1 {
  transform: rotateY(180deg);
}
body #seleccionarAtaque .tarjetasAtaques {
  margin: 20px;
  text-align: center;
}
body #seleccionarAtaque .tarjetasAtaques .btnAtaque {
  background-color: #1d72c9;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  border-color: transparent;
  width: 80px;
  border: 3px solid #1e4e7f;
}
body #seleccionarAtaque .tarjetasAtaques .btnAtaque:hover {
  cursor: pointer;
  background-color: #7cafe2;
  transition: 0.2s;
}
body #seleccionarAtaque #mensajes {
  background-color: rgba(255, 255, 255, 0.8352941176);
  border: 3px solid #a7a7a7;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}
body #seleccionarAtaque #mensajes p {
  font-family: "VT323", monospace;
  font-size: 20px;
}
body #seleccionarAtaque #mensajes #reiniciar {
  margin-top: 10px;
}
body #seleccionarAtaque #mensajes #reiniciar #btnReiniciar {
  background: 0 0;
  font-family: "VT323", monospace;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #cf1010;
}
body #seleccionarAtaque #mensajes #reiniciar #btnReiniciar:hover {
  cursor: pointer;
  color: #ffcc03;
}
body #seleccionarAtaque .ataques {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
body #seleccionarAtaque .ataques .ataquesJugador {
  margin: 20px;
}
body #seleccionarAtaque .ataques .ataquesEnemigo {
  margin: 20px;
}/*# sourceMappingURL=style.css.map */