@import './recursos/fuentes';
@import './recursos/reset';


body {
    font-family: "Pixelify Sans", sans-serif;
    width: 100vw;

    .imagenFondo {
        width: 100vw;
        opacity: 0.5;
        position: fixed;
        z-index: -1;
    }

    .pantallaPrincipal {
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        .titulo {
            margin: 30px;

            img {
                width: 50vw;
            }
        }

        #start {
            width: 180px;
            height: 40px;
            background: 0 0;
            background-color: #1d73c977;
            border: 3px solid #1e4e7f;
            border-radius: 7px;
            font-family: "Pixelify Sans", sans-serif;
            color: #000;
            font-size: 17px;
            font-weight: 600;

            &:hover {
                cursor: pointer;
                background-color: #7cafe2;
                transition: 0.2s;
                color: #ffcc03;
            }
        }
    }

    .seleccionarPersonajes {
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;

        h2 {
            margin: 20px;
        }

        .tarjetas {
            margin: 20px;
            display: flex;
            flex-direction: row;
            text-decoration: none;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;

            input {
                display: none;
            }

            label {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                margin: 10px 30px;
                background-color: #549fd591;
                width: 25vw;
                border: 2px solid #1e4e7f;
                box-shadow: 3px 4px 7px 0px #656a6f;
                min-width: 245px;
                flex-direction: column;
                align-content: center;
                border-radius: 2px 20px 2px 20px;

                p {
                    font-family: "Pixelify Sans", sans-serif;
                    font-size: 25px;
                    font-weight: 600;
                }

                &:hover {
                    cursor: pointer;
                    background-color: #2190dfd1;
                    transform: translateY(-7px);
                    transition: 0.3s;
                }
            }

            input:checked+label {
                background-color: #2190dfd1;
                transform: translateY(-7px);
            }

            img {
                width: 200px;
            }
        }

        .botonPersonajes {
            width: 180px;
            height: 40px;
            background: 0 0;
            background-color: #1d73c977;
            border: 3px solid #1e4e7f;
            border-radius: 7px;
            font-family: "Pixelify Sans", sans-serif;
            color: #000;
            font-size: 17px;
            font-weight: 600;

            &:hover {
                cursor: pointer;
                background-color: #7cafe2;
                transition: 0.2s;
                color: #ffcc03;
            }
        }
    }

    #seleccionarAtaque {
        display: flex;
        height: 100vh;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;

        .indicadorJugador {
            display: flex;
            height: 70px;
            width: 95vw;
            background-color: #1d73c9;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-around;
            border: 3px solid #1e4e7f;
            border-radius: 7px;
            color: #fff;
        }

        .containerArgenmonInfo {
            display: flex;
            justify-content: space-between;
            width: 70vw;

            .argenmonInfo {
                width: 197px;
                display: flex;

                .argenmonElegido {
                    border: 3px solid #1e4e7f;
                    background-color: #1d73c977;
                    border-radius: 10px;
                    width: 200px;
                    padding: 8px;
                }
            }
        }

        .pelea {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .botonesPelea {
                width: 140px;
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                justify-content: center;
                align-self: flex-start;

                .btnAtaque {
                    padding: 5px;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    font-family: "Pixelify Sans", sans-serif;
                    font-size: 17px;
                    cursor: pointer;
                    transition: 200ms;
                }

                .btnAtaque:hover {
                    transform: translate(3px, -3px);
                }
            }
        }





        .tarjetasAtaques {
            margin: 20px;
            text-align: center;

            .btnAtaque {
                background-color: #1d72c9;
                margin: 5px;
                padding: 10px;
                border-radius: 20px;
                border-color: transparent;
                width: 80px;
                border: 3px solid #1e4e7f;

                &:hover {
                    cursor: pointer;
                    background-color: #7cafe2;
                    transition: 0.2s;
                }
            }
        }

        #mensajes {
            background-color: #ffffffd5;
            border: 3px solid #a7a7a7;
            border-radius: 20px;
            padding: 10px;
            text-align: center;

            p {
                font-family: "Pixelify Sans", sans-serif;
                font-size: 20px;
            }

            #reiniciar {
                margin-top: 10px;

                #btnReiniciar {
                    background: 0 0;
                    font-family: "Pixelify Sans", sans-serif;
                    background-color: transparent;
                    border: none;
                    font-size: 16px;
                    color: #cf1010;

                    &:hover {
                        cursor: pointer;
                        color: #ffcc03;
                    }
                }
            }
        }

        .ataques {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            font-family: 'poppins', sans-serif;
            font-size: 20px;
            font-weight: 600;

            .ataquesJugador {
                margin: 20px;
            }

            .ataquesEnemigo {
                margin: 20px;
            }
        }
    }
}